---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
import HomeBannerSliders from '../components/home/HomeBannerSliders.jsx';
import HomeCategories from '../components/home/HomeCategories.jsx';
import HomeRekomendation from '../components/home/HomeRekomendation.jsx';
import Footer from '../components/ui/Footer.jsx';
---

<Layout>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 pt-8">
    <HomeBannerSliders client:load />
    <HomeCategories client:load />
    <HomeRekomendation client:load />
  </div>
  <Footer client:load />
</Layout>